<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav navbar-left">

        <div class="bookers">Bookers</div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li class="">
        <!-- ↓以下のコードは後ほど変更 -->
        <%= link_to 'Home', user_path(current_user.id),class:"glyphicon glyphicon-home" %>
      </li>
      <li class="">
        <!-- 以下のコードは後ほど変更 -->
        <%= link_to 'Users', users_path,class:"glyphicon glyphicon-user" %>
      </li>
      <li class="">
        <!-- 以下のコードは後ほど変更 -->
        <%= link_to 'Books', books_path,class:"glyphicon glyphicon-book" %>
      </li>
      <li class="">
        <%= link_to "logout ", destroy_user_session_path, method: :delete,class:"glyphicon glyphicon-log-out" %>
      </li>
    <% else %>
      <li class="">
        <!-- ↓以下のコードは後ほど変更 -->
        <%= link_to " Home ",root_path, class:"glyphicon glyphicon-home" %>
        </li>
      <li class="">
        <a class="glyphicon glyphicon-link "href="/home/about"> About </a>
      </li>
      <li class="">
        <a class="glyphicon glyphicon-edit "href="/users/sign_up"> sign up </a>
      </li>
      <li class="">
        <a class="glyphicon glyphicon-log-in "href="/users/sign_in"> login </a>
      </li>
    <% end %>
  </ul>
    </nav>

    <%= yield %>
  </body>
</html>
